<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHUTNbVCl7HhlvH4MTW_nEs7gRg1L-9jk</string>
	<key>GCM_SENDER_ID</key>
	<string>500869155129</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.videochat</string>
	<key>PROJECT_ID</key>
	<string>fir-rtc-e6b35</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-rtc-e6b35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500869155129:ios:ee0ba2130cdef71ad8c0e8</string>
	<key>DATABASE_URL</key>
	<string>https://fir-rtc-e6b35-default-rtdb.firebaseio.com</string>
</dict>
</plist>